.form_wrapper {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.form-super {
  background: linear-gradient(
    180deg,
    rgba(238, 83, 50, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.form-input-adm {
  padding-top: 25px;
  font-size: 18px;
  font-weight: 600;
}

.form-head {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-top: 3%;
  color: #434343;
}

.bck-form {
  width: 100%;
  margin-left: -6px;
}

.send-form {
  background-color: #ee5332 !important;
  color: white;
  width: 100%;
  margin-top: 20px;
}

.form-group label {
  color: #ee5332 !important;
}

@media (max-width: 600px) {
  .form-head {
    font-size: 30px;
  }
}
