.title-hist {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 65px;
  color: #171717;
  margin-bottom: 30px;
  text-align: left;
}

.our-hist {
  background: #ffdb9b;
  width: 100vw;
  min-height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.whole-link-imp {
  background: #ffdb9b;
}

.hist-content {
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  letter-spacing: 3px;
  line-height: 35px;
}

.designation {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  letter-spacing: 3px;
  font-weight: bold;
}

@media (max-width: 650px) {
  .hist-content {
    line-height: 30px;
  }
}
